body {

  font-family: Georgia, serif;
  background-color: #000000
  }



div#naglowek
{
height: 80px;
background-color:#880000;
        text-align:center;

}


div#menu_lewe
{


float: left;
width: 195px;

margin: 5px 5px 5px 0px;
padding: 0px;

}

div#menu_lewe ul
{


list-style-type: none;
display: block;
margin: 0;
padding: 0;
}

div#menu_lewe ul li
{

float: left;
width: 195px;
}

div#menu_lewe ul li a
{
display: block;
background: #FF0000;
height: 30px;
line-height: 30px;
font-size: 12pt;
margin: 1px 1px 1px 1px;
padding-left: 10px;
}

div#menu_lewe ul a:hover
{

color: #000;
background: #ccc;
transition-duration: 1s;
}
a:visited, a:link
{

color: #fff; 
text-decoration: none; 
}




div#tresc
{
float: left;
width: 520px;
min-height: 350px;
background: #FF0000;
color: #ffffff;
margin: 5px 20px 5px 300px;

}


div#stopka
{
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	clear: both;
	background-color:red;
	text-align:center;
}
p {
        margin:0;
        padding:35px;
      }
